<% provide :page_title, 'Spendings' %>
<% provide :page_heading, 'Shift' %>

<menu class="col-xs-12 action-bar">
  <div class="text-left col-xs-12 col-md-4 action-bar-section">
    <%= link_to bills_url, class: 'btn btn-default' do %>
    <%= icon('list') %>
    <%= 'Back to shift' %>
    <% end %>
  </div>

  <div class="text-right col-xs-12 col-md-8 action-bar-section">
    <%= link_to new_spending_url, class: 'btn btn-primary' do %>
    <%= icon('plus') %>
    <%= 'New spending' %>
    <% end %>
  </div>
</menu>

<section class="col-xs-12 table-responsive">
  <span>
    <%= 'Shift total' %>:
    <strong><%= Spending.calculate_total_for_shift %></strong>
  </span>

  <table class="table" id="spendings-table">
    <thead>
      <tr>
        <td class="text-left"><%= 'Created at' %></td>
        <td class="text-left"><%= 'Created by' %></td>
        <td class="text-left"><%= 'Title' %></td>
        <td class="text-right"><%= 'Amount' %></td>
        <td class="text-right"><%= 'Status' %></td>
      </tr>
    </thead>
    <tbody>
      <% @spendings.each do |spending| %>
      <tr>
        <td class="text-left"><%= spending.created_at %></td>
        <td class="text-left"><%= spending.user.name %></td>
        <td class="text-left"><%= spending.name %></td>
        <td class="text-right"><%= spending.total %></td>
        <td class="text-right">
          <span class="label label-<%= spending_bootstrap_status(spending.status) %>">
            <%= spending.status %>
          </span>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</section>
