<% provide :page_title, 'Create spending' %>

<%
  crumbs = [
    crumb('Shifts', shifts_url),
    crumb("Shift #{@spending.shift.id}", shift_url(@spending.shift)),
    crumb('New spending')
  ]
%>

<%= breadcrumbs crumbs %>

<%= form_for [@shift, @spending] do |f| %>
  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div>
    <%= f.label :total %>
    <%= f.text_field :total, value: '' %>
  </div>

  <div>
    <%= f.submit 'Create', class: 'btn' %>
  </div>
<% end %>
