<% provide :page_title, "Add user to shift #{@shift.id}" %>
<% provide :page_heading, "Add user to shift #{@shift.id}" %>

<menu class="col-xs-12 action-bar">
  <div class="text-left col-xs-12 col-md-4 action-bar-section">
    <%= link_to shift_url(@shift), class: 'btn btn-default' do %>
      <%= icon('list') %>
      <%= 'Back to shift' %>
    <% end %>
  </div>

  <div class="text-right col-xs-12 col-md-8 action-bar-section"></div>
</menu>

<section class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
  <%= form_for @user_shift, url: shift_users_url(@shift) do |f| %>
    <div class="form-group">
      <%= f.label :user %>
      <%= f.select :user_id, @users.map{ |u| [u.name, u.id] }, {}, { class: 'form-control' } %>
    </div>

    <div class="form-group text-right">
      <%= f.submit 'Add', class: 'btn btn-primary' %>
    </div>
  <% end %>
</section>
