<% provide :page_title, "Add user to shift #{@shift.id}" %>

<%
  crumbs = [
    crumb('Shifts', shifts_url),
    crumb("Shift #{@user_shift.shift.id}", shift_url(@user_shift.shift)),
    crumb('Add employee')
  ]
%>

<%= breadcrumbs crumbs %>

<% if @users.empty? %>
  <p class="text-center">No employees available.</p>
<% else %>
  <%= form_for @user_shift, url: shift_users_url(@shift) do |f| %>
    <div>
      <%= f.label :employee %>
      <%= f.select :user_id, @users.map{ |u| [u.name, u.id] } %>
    </div>

    <div>
      <%= f.submit 'Add', class: 'btn' %>
    </div>
  <% end %>
<% end %>
