<% provide :page_title, "Edit bill #{@bill.id}" %>

<%
  crumbs = [
    crumb('Shifts', shifts_url),
    crumb("Shift #{@bill.shift.id}", shift_url(@bill.shift)),
    crumb("Bill #{@bill.id}", shift_bill_url(@bill.shift, @bill)),
    crumb("Edit")
  ]
%>
<%= breadcrumbs crumbs, class: 'col-xs-12' %>

<menu class="col-xs-12 action-bar">
  <div class="text-left col-xs-12 col-md-4 action-bar-section">
    <%= link_to shift_url(@bill.shift), class: 'btn btn-default' do %>
      <%= icon('list') %> <%= 'Back to shift' %>
    <% end %>

    <%= link_to shift_bill_url(@bill.shift, @bill), class: 'btn btn-default' do %>
      <%= icon('arrow-left') %> <%= 'Back to bill' %>
    <% end %>
  </div>

  <div class="text-right col-xs-12 col-md-8 action-bar-section">
  </div>
</menu>

<section class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
  <%= form_for [@bill.shift, @bill] do |f| %>
    <div class="form-group">
      <%= f.label :table %>
      <%= f.select :table_id, @tables.map{ |t| [t.name, t.id] }, {}, { class: 'form-control' } %>
    </div>

    <div class="form-group">
      <%= f.label :people %>
      <%= f.select :people_number, (1..100).map{ |n| [n, n] }, {}, { class: 'form-control' } %>
    </div>

    <div class="form-group">
      <%= f.label :discount %>
      <%= f.select :discount_id, @discounts.map{ |t| [t.value, t.id] }, {}, { class: 'form-control' } %>
    </div>

    <div class="form-group">
      <%= f.submit 'Update', class: 'btn btn-primary' %>
    </div>
  <% end %>
</section>
