<% provide :page_title, "Edit bill #{@bill.id}" %>

<%
  crumbs = [
    crumb('Shifts', shifts_url),
    crumb("Shift #{@bill.shift.id}", shift_url(@bill.shift)),
    crumb("Bill #{@bill.relative_id}", shift_bill_url(@bill.shift, @bill)),
    crumb("Edit")
  ]
%>

<div class="clearfix">
  <%= breadcrumbs crumbs %>
</div>

<%= form_for [@bill.shift, @bill], html: { class: 'form' } do |f| %>
  <div>
    <%= f.label :table %>
    <%= f.select :table_id, @tables.map{ |t| [t.name, t.id] } %>
  </div>

  <div>
    <%= f.label :people %>
    <%= f.select :people_number, (1..100).map{ |n| [n, n] } %>
  </div>

  <div>
    <%= f.label :discount %>
    <%= f.select :discount_id, @discounts.map{ |t| [t.value, t.id] } %>
  </div>

  <div>
    <%= f.submit 'Update', class: 'btn' %>
  </div>
<% end %>
