<% provide :page_title, 'Shift' %>
<% provide :page_heading, 'Shift' %>

<menu class="col-xs-12 action-bar">
  <div class="text-left col-xs-12 col-md-4 action-bar-section">
  </div>

  <div class="text-right col-xs-12 col-md-8 action-bar-section">
    <%= link_to new_bill_url, class: 'btn btn-primary' do %>
      <%= icon('plus') %> <%= 'New bill' %>
    <% end %>
  </div>
</menu>

<section class="col-xs-12 table-responsive">
  <span>
    <%= 'Shift total' %>: <strong><%= Bill.calculate_total_for_shift %></strong>
  </span>

  <table class="table" id="bills-table">
    <thead>
      <tr>
        <td class="text-left" ><%= 'Created at' %></td>
        <td class="text-left" ><%= 'Created by' %></td>
        <td class="text-right"><%= 'Table'      %></td>
        <td class="text-right"><%= 'People'     %></td>
        <td class="text-right"><%= 'Subtotal'   %></td>
        <td class="text-right"><%= 'Discount'   %></td>
        <td class="text-right"><%= 'Total'      %></td>
        <td class="text-right"><%= 'Status'     %></td>
      </tr>
    </thead>
    <tbody>
      <% @bills.each do |bill| %>
        <tr class="row-link" data-href="<%= bill_url(bill) %>" >
          <td class="text-left" ><%= bill.created_at     %></td>
          <td class="text-left" ><%= bill.user.name      %></td>
          <td class="text-right"><%= bill.table.name     %></td>
          <td class="text-right"><%= bill.people_number  %></td>
          <td class="text-right">
            <% if bill.closed? %>
              <%= bill.subtotal %>
            <% else %>
              <%= bill.calculate_subtotal %>
            <% end %>
          </td>
          <td class="text-right"><%= bill.discount.value %></td>
          <td class="text-right">
            <% if bill.closed? %>
              <%= bill.total %>
            <% else %>
              <%= bill.calculate_total %>
            <% end %>
          </td>
          <td class="text-right">
            <span class="label label-<%= bootstrap_status(bill.status) %>">
              <%= bill.status %>
            </span>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</section>
