<% provide :page_title, 'Create bill' %>

<%
  crumbs = [
    crumb('Shifts', shifts_url),
    crumb("Shift #{@bill.shift.id}", shift_url(@bill.shift)),
    crumb('New bill')
  ]
%>

<%= breadcrumbs crumbs %>

<% if @tables.empty? || @discounts.empty? %>
  <p class="text-center">No tables or discounts available.</p>
<% else %>
  <%= form_for [@shift, @bill] do |f| %>
    <div>
      <%= f.label :table %>
      <%= f.select :table_id, @tables.map { |t| [t.name, t.id] } %>
    </div>

    <div>
      <%= f.label :people %>
      <%= f.select :people_number, (1..100).map { |n| [n, n] } %>
    </div>

    <div>
      <%= f.label :discount %>
      <%= f.select :discount_id, @discounts.map { |t| [t.value, t.id] } %>
    </div>

    <div>
      <%= f.submit 'Create', class: 'btn' %>
    </div>
  <% end %>
<% end %>
