<% provide :page_title, "Bill ##{@bill.id}" %>

<menu class="col-xs-12 actions-bar text-center">
  <%= link_to bills_url, class: 'btn btn-default' do %>
    <%= icon('arrow-left') %> <%= 'Back to list' %>
  <% end %>

  <%= link_to '#', class: 'btn btn-primary' do %>
    <%= icon('plus') %> <%= 'Add item' %>
  <% end %>

  <%= link_to '#', class: 'btn btn-default' do %>
    <%= icon('pencil') %> <%= 'Edit' %>
  <% end %>

  <%= link_to '#', class: 'btn btn-success' do %>
    <%= icon('check') %> <%= 'Checkout' %>
  <% end %>

  <%= link_to '#', class: 'btn btn-warning' do %>
    <%= icon('trash') %> <%= 'Cancel' %>
  <% end %>
</menu>

<section class="col-xs-12 col-sm-3">
  <legend class="text-center">Information</legend>

  <dl>
    <dt><%= 'Created at' %></dt>
    <dd><%= @bill.created_at %></dt>

    <dt><%= 'Table' %></dt>
    <dd><%= @bill.table.name %></dt>

    <dt><%= 'People' %></dt>
    <dd><%= @bill.people_number %></dt>

    <dt><%= 'Status' %></dt>
    <dd>
      <span class="label label-<%= bootstrap_status(@bill.status) %>">
        <%= @bill.status %>
      </span>
    </dt>

    <dt><%= 'Subtotal' %></dt>
    <dd><%= @bill.subtotal %></dd>

    <dt><%= 'Discount' %></dt>
    <dd><%= @bill.discount %></dd>

    <dt><%= 'Total' %></dt>
    <dd><%= @bill.total %></dd>
  </dl>
</section>

<section class="col-xs-12 col-sm-9 table-responsive">
  <legend class="text-center">Items</legend>

  <table class="table">
    <thead>
      <tr>
        <td class="text-right"><%= 'Title' %></td>
        <td class="text-right"><%= 'Quantity' %></td>
      </tr>
    </thead>
    <tbody>
      <% @bill.bill_items.each do |item| %>
        <tr>
          <td class="text-right"><%= item.good.name %></td>
          <td class="text-right"><%= item.quantity  %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</section>
