<% provide :page_title, "Bill ##{@bill.id}" %>

<section class="col-xs-12">
  <div class="col-xs-12 col-sm-3">
    <div class="form-group">
      <%= label :bill, :table %>
      <input class="form-control" readonly="readonly" type="text" value="<%= @bill.table.name %>" id="bill_table_name" name="bill[table][name]" />
    </div>

    <div class="form-group">
      <%= label :bill, :people_number %>
      <%= text_field :bill, :people_number, class: 'form-control', readonly: true %>
    </div>

    <div class="form-group">
      <%= label :bill, :status %>
      <%= text_field :bill, :status, class: 'form-control', readonly: true %>
    </div>

    <div class="form-group">
      <%= label :bill, :status %>
      <%= text_field :bill, :status, class: 'form-control', readonly: true %>
    </div>
  </div>

  <div class="col-xs-12 col-sm-6 form-group">
  </div>
</section>
