<% provide :page_title, "Bill #{@bill.id}" %>

<%
  crumbs = [
    crumb('Shifts', shifts_url),
    crumb("Shift #{@bill.shift.id}", shift_url(@bill.shift)),
    crumb("Bill #{@bill.relative_id}")
  ]
%>

<div class="clearfix">
  <%= breadcrumbs crumbs %>

  <div class="actions">
    <% unless @bill.closed? || @bill.cancelled? %>
      <%= link_to shift_bill_url(@bill.shift, @bill), class: 'btn success', method: :delete, data: { confirm: 'Are you sure?' } do %>
        <span class="icon check"></span> <%= 'Checkout' %>
      <% end %>

      <%= link_to cancel_shift_bill_url(@bill.shift, @bill), class: 'btn warning', method: :delete, data: { confirm: 'Are you sure?' } do %>
        <span class="icon cross"></span> <%= 'Cancel' %>
      <% end %>

      <%= link_to edit_shift_bill_url(@bill.shift, @bill), class: 'btn' do %>
        <span class="icon pencil"></span> <%= 'Edit bill' %>
      <% end %>

      <%= link_to new_shift_bill_item_url(@bill.shift, @bill), class: 'btn' do %>
        <span class="icon plus"></span> <%= 'Manage items' %>
      <% end %>
    <% end %>
  </div>
</div>

<div class="table-container">
  <table class="table">
    <caption class="table-caption"><%= 'Information' %></caption>
    <thead class="table-head">
      <tr class="table-row">
        <td class="table-cell text-left"><%= 'Table' %></td>
        <td class="table-cell text-right"><%= 'People' %></td>
        <td class="table-cell text-right"><%= 'Subtotal' %></td>
        <td class="table-cell text-right"><%= 'Discount' %></td>
        <td class="table-cell text-right"><%= 'Total' %></td>
      </tr>
    </thead>
    <tbody class="table-body">
      <tr class="table-row">
        <td class="table-cell text-left"><%= @bill.table.name %></td>
        <td class="table-cell text-right"><%= @bill.people_number %></td>
        <td class="table-cell text-right"><%= '%.2f' % (@bill.subtotal || @bill.calculate_subtotal) %></td>
        <td class="table-cell text-right"><%= '%.2f' % @bill.discount.value  %></td>
        <td class="table-cell text-right"><%= '%.2f' % (@bill.total || @bill.calculate_total) %></td>
      </tr>
    </tbody>
  </table>
</div>

<div class="table-container">
  <table class="table">
    <caption class="table-caption"><%= 'Items' %></caption>
    <thead class="table-head">
      <tr class="table-row">
        <td class="table-cell text-left"><%= 'Title' %></td>
        <td class="table-cell text-right"><%= 'Price' %></td>
        <td class="table-cell text-right"><%= 'Quantity' %></td>
        <td class="table-cell text-right"><%= 'Subtotal' %></td>
        <td class="table-cell text-right"><%= 'Total' %></td>
      </tr>
    </thead>
    <tbody class="table-body">
      <% @bill.bill_items.each do |item| %>
      <tr class="table-row">
        <td class="table-cell text-left"><%= item.good.name %></td>
        <td class="table-cell text-right"><%= '%.2f' % item.good.price %></td>
        <td class="table-cell text-right"><%= item.quantity  %></td>
        <td class="table-cell text-right"><%= '%.2f' % item.calculate_subtotal %></td>
        <td class="table-cell text-right"><%= '%.2f' % item.calculate_total(@bill.discount.value) %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
