<% provide :page_title, "Bill #{@bill.id}" %>
<h3 class="text-center"><span class="label label-<%= bootstrap_status(@bill.status) %>"><%= @bill.status %></span></h2>

<menu class="col-xs-12 action-bar">
  <div class="text-left col-xs-12 col-md-4 action-bar-section">
    <%= link_to bills_url, class: 'btn btn-default' do %>
      <%= icon('list') %> <%= 'Back to list' %>
    <% end %>
  </div>

  <div class="text-right col-xs-12 col-md-8 action-bar-section">
    <% unless @bill.closed? || @bill.cancelled? %>
      <%= link_to edit_bill_url(@bill), class: 'btn btn-default' do %>
        <%= icon('pencil') %> <%= 'Edit bill' %>
      <% end %>

      <%= link_to new_bill_item_url(@bill), class: 'btn btn-primary' do %>
        <%= icon('plus') %> <%= 'Add item' %>
      <% end %>

      <%= link_to bill_url(@bill), class: 'btn btn-success', method: :delete, data: { confirm: 'Are you sure?' } do %>
        <%= icon('check') %> <%= 'Checkout' %>
      <% end %>

      <%= link_to cancel_bill_url(@bill), class: 'btn btn-warning', method: :delete, data: { confirm: 'Are you sure?' } do %>
        <%= icon('trash') %> <%= 'Cancel' %>
      <% end %>
    <% end %>
  </div>
</menu>

<section class="col-xs-12 col-sm-3">
  <legend class="text-center">Information</legend>

  <div class="row">
    <div class="form-group col-xs-6">
      <%= label :bill, :table %>
      <input type="text" id="bill_table_name" name="bill[table][name]" value="<%= @bill.table.name %>" class="form-control" readonly="readonly" />
    </div>

    <div class="form-group col-xs-6">
      <%= label :bill, :people %>
      <%= text_field :bill, :people_number, class: 'form-control', readonly: true %>
    </div>
  </div>

  <div class="form-group">
    <%= label :bill, :subtotal %>
    <%= text_field :bill, :subtotal, value: @bill.calculate_subtotal, class: 'form-control', readonly: true %>
  </div>

  <div class="form-group">
    <%= label :bill, :discount %>
    <%= text_field :bill, :discount, class: 'form-control', readonly: true %>
  </div>

  <div class="form-group">
    <%= label :bill, :total %>
    <%= text_field :bill, :total, value: @bill.calculate_total, class: 'form-control', readonly: true %>
  </div>

  <div class="form-group">
    <%= label :bill, :created_at %>
    <%= text_field :bill, :created_at, class: 'form-control', readonly: true %>
  </div>

  <div class="form-group">
    <%= label :bill, :user %>
    <input type="text" id="bill_user_name" name="bill[user][name]" value="<%= @bill.user.name %>" class="form-control" readonly="readonly" />
  </div>
</section>

<section class="col-xs-12 col-sm-9 table-responsive">
  <legend class="text-center">Items</legend>

  <table class="table">
    <thead>
      <tr>
        <td class="text-right"><%= 'Title' %></td>
        <td class="text-right"><%= 'Price' %></td>
        <td class="text-right"><%= 'Quantity' %></td>
        <td class="text-right"><%= 'Subtotal' %></td>
      </tr>
    </thead>
    <tbody>
      <% @bill.bill_items.each do |item| %>
      <tr>
        <td class="text-right"><%= item.good.name %></td>
        <td class="text-right"><%= item.good.price %></td>
        <td class="text-right"><%= item.quantity  %></td>
        <td class="text-right"><%= item.calculate_subtotal %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</section>
