<% provide :page_title, 'Shifts' %>

<div class="clearfix">
  <%= breadcrumbs [ crumb('Shifts') ] %>

  <% if can? :create, Shift %>
    <div class="actions">
      <%= link_to shifts_url, class: 'btn', method: :create, data: { confirm: 'Are you sure?' } do %>
        <span class="icon plus"></span> <%= 'Shift' %>
      <% end %>
    </div>
  <% end %>
</div>

<div class="table-container">
  <div class="table">
    <div class="table-caption">
      <%= 'Shifts' %>
    </div>
    <div class="table-head">
      <div class="table-row">
        <div class="table-cell text-center"><%= '#'                 %></div>
        <div class="table-cell text-left"  ><%= 'Opened at'         %></div>
        <div class="table-cell text-left"  ><%= 'Closed at'         %></div>
        <div class="table-cell text-left"  ><%= 'Employees'         %></div>
        <div class="table-cell text-right" ><%= 'Bills OP/CA/CL/TO' %></div>
        <div class="table-cell text-right" ><%= 'Revenue'           %></div>
        <div class="table-cell text-right" ><%= 'Spendings'         %></div>
        <div class="table-cell text-right" ><%= 'Total'             %></div>
        <div class="table-cell text-right" ><%= 'Status'            %></div>
      </div>
    </div>
    <div class="table-body">
      <% @shifts.each do |shift| %>
        <%= link_to shift_url(shift), class: 'table-row row-link' do %>
          <div class="table-cell text-center"><%= shift.id %></div>
          <div class="table-cell text-left"><%= shift.opened_at.strftime("%H:%M %Y/%m/%d") %></div>
          <div class="table-cell text-left"><%= shift.closed_at.strftime("%H:%M %Y/%m/%d") if shift.closed_at %></div>
          <div class="table-cell text-left"><%= shift.users_list %></div>
          <div class="table-cell text-right"><%= "#{shift.open_bills_number}/#{shift.cancelled_bills_number}/#{shift.closed_bills_number}/#{shift.bills.length}" %></div>
          <div class="table-cell text-right"><%= '%.2f' % (shift.total_revenue || shift.calculate_total_revenue) %></div>
          <div class="table-cell text-right"><%= '%.2f' % (shift.total_spendings || shift.calculate_total_spendings) %></div>
          <div class="table-cell text-right"><%= '%.2f' % (shift.total || shift.calculate_total)%></div>
          <div class="table-cell text-right">
            <span class="badge <%= shift_status(shift.status) %>">
              <%= shift.status %>
            </span>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
  
  <%= will_paginate @shifts %>
</div>
