<% provide :page_title, "Shift #{@shift.id}" %>

<div class="clearfix">
  <%= breadcrumbs [ crumb('Shifts', shifts_url), crumb("Shift #{@shift.id}") ], class: 'text-left' %>

  <div class="actions">
    <% unless @shift.closed? %>
      <%= link_to shift_url(@shift), class: 'btn success', method: :delete, data: { confirm: 'Are you sure?' } do %>
        <span class="icon check"></span> <%= 'Close' %>
      <% end %>
      <%= link_to new_shift_user_url(@shift), class: 'btn' do %>
        <span class="icon plus"></span> <%= 'Employee' %>
      <% end %>
      <%= link_to new_shift_bill_url(@shift), class: 'btn' do %>
        <span class="icon plus"></span> <%= 'Bill' %>
      <% end %>
      <%= link_to new_shift_spending_url(@shift), class: 'btn' do %>
        <span class="icon plus"></span> <%= 'Spending' %>
      <% end %>
    <% end %>
  </div>
</div>

<div class="table-container">
  <div class="table" id="bills-table">
    <div class="table-caption">
      <%= 'Bills' %>
    </div>
    <div class="table-head">
      <div class="table-row">
        <div class="table-cell text-center"><%= '#'            %></div>
        <div class="table-cell text-left"  ><%= 'Created at'   %></div>
        <div class="table-cell text-left"  ><%= 'Cancelled at' %></div>
        <div class="table-cell text-left"  ><%= 'Closed at'    %></div>
        <div class="table-cell text-right" ><%= 'Table'        %></div>
        <div class="table-cell text-right" ><%= 'People'       %></div>
        <div class="table-cell text-right" ><%= 'Subtotal'     %></div>
        <div class="table-cell text-right" ><%= 'Discount'  %>, %</div>
        <div class="table-cell text-right" ><%= 'Total'        %></div>
        <div class="table-cell text-right" ><%= 'Status'       %></div>
      </div>
    </div>
    <div class="table-body">
      <% @shift.bills.each do |bill| %>
        <%= link_to shift_bill_url(@shift, bill), class: 'table-row row-link' do %>
          <div class="table-cell text-center"><%= bill.relative_id || '' %></div>
          <div class="table-cell text-left"><%= bill.created_at.strftime("%Y-%m-%d %H:%M") %></div>
          <div class="table-cell text-left"><%= bill.time_cancel.strftime("%Y-%m-%d %H:%M") if bill.time_cancel %></div>
          <div class="table-cell text-left"><%= bill.time_close.strftime("%H:%M %Y/%m/%d") if bill.time_close %></div>
          <div class="table-cell text-right"><%= bill.table.name if bill.table.present? %></div>
          <div class="table-cell text-right"><%= bill.people_number %></div>
          <div class="table-cell text-right"><%= '%.2f' % (bill.subtotal || bill.calculate_subtotal)%></div>
          <div class="table-cell text-right"><%= '%.2f' % bill.discount.value %></div>
          <div class="table-cell text-right"><%= '%.2f' % (bill.total || bill.calculate_total) %></div>
          <div class="table-cell text-right">
            <span class="badge <%= bill_status(bill.status) %>">
              <%= bill.status %>
            </span>
          </div>
        <% end %>
      <% end %>
      <div class="table-row">
        <% 8.times do %>
          <div class="table-cell"></div>
        <% end %>
        <div class="table-cell text-right">
          <strong><%= '%.2f' % (@shift.total_revenue || @shift.calculate_total_revenue) %></strong>
        </div>
        <div class="table-cell"></div>
      </div>
    </div>
  </div>
</div>

<div class="table-container">
<table class="table" id="spendings-table">
  <caption class="table-caption"><%= 'Spendings' %></caption>
  <thead class="table-head">
    <tr class="table-row">
      <td class="table-cell text-center"><%= '#' %></td>
      <td class="table-cell text-left"><%= 'Created at' %></td>
      <td class="table-cell text-left"><%= 'Name' %></td>
      <td class="table-cell text-right"><%= 'Total' %></td>
      <td class="table-cell text-right"><%= 'Status' %></td>
      <% unless @shift.closed? %>
        <td class="table-cell text-right"><%= 'Actions' %></td>
      <% end %>
    </tr>
  </thead>
  <tbody class="table-body">
    <% @shift.spendings.each do |spending| %>
      <tr class="table-row">
        <td class="table-cell text-center"><%= spending.relative_id || '' %></td>
        <td class="table-cell text-left"><%= spending.created_at.strftime("%Y-%m-%d %H:%M") %></td>
        <td class="table-cell text-left"><%= spending.name %></td>
        <td class="table-cell text-right"><%= '%.2f' % spending.total %></td>
        <td class="table-cell text-right">
          <span class="badge <%= spending_bootstrap_status(spending.status) %>">
            <%= spending.status %>
          </span>
        </td>
        <% unless @shift.closed? %>
          <td class="table-cell text-right">
            <% unless spending.cancelled? %>
              <%= link_to shift_spending_url(@shift, spending), class: 'btn btn-small danger', method: :delete, data: { confirm: "Are you sure?" } do %>
                <span class="icon cross"></span>
              <% end %>
            <% end %>
          </td>
        <% end %>
      </tr>
    <% end %>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td class="table-cell text-right">
        <strong><%= '%.2f' % (@shift.total_spendings || @shift.calculate_total_spendings) %></strong>
      </td>
      <td></td>
    </tr>
  </tbody>
</table>
