<% provide :page_title, "Add item to bill #{@bill_item.bill.id}" %>

<%
  crumbs = [
    crumb('Shifts', shifts_url),
    crumb("Shift #{@bill.shift.id}", shift_url(@bill.shift)),
    crumb("Bill #{@bill.relative_id}", shift_bill_url(@bill.shift, @bill)),
    crumb('Add item')
  ]
%>

<%= breadcrumbs crumbs %>

<% if @goods.empty? %>
  <p class="text-center">No goods available.</p>
<% else %>
  <%= form_for @bill_item, url: shift_bill_items_url(@bill.shift, @bill, @bill_item) do |f| %>
    <div>
      <%= f.label :good %>
      <%= f.select :good_id, @goods.map { |good| [ "#{good.name} #{'%.2f' % good.price}", good.id ] } %>
    </div>

    <div>
      <%= f.label :quantity %>
      <%= f.select :quantity, (1..100).map { |n| [n,n] } %>
    </div>

    <div>
      <%= f.submit 'Add', class: 'btn' %>
    </div>
  <% end %>
<% end %>
