<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title yield(:page_title) %></title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'  %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= toastr_flash %>
    <%= devise_error_messages! if devise_controller? %>
  </head>

  <body>
    <% if params[:controller] == 'home' && params[:action] == 'index' %>
      <%= yield %>
    <% else %>
      <%= render 'layouts/header' %>
      <main class="container">
        <h2 class="text-center"><%= yield(:page_title) %></h2>
        <%= yield %>
      </main>
    <% end %>
    <%= render 'layouts/footer' %>
  </body>
</html>
